In [1]:
x =10
y=3
print(x/y)

3.3333333333333335

In [2]:
print(x//y)

3

In [3]:
# What is difference between list and tuple
# list : dynamic size , ordered , unsorted , mutable :  we can change or modify
l=[1,2,3]
l.append(10)
print(l)

[1, 2, 3, 10]

In [4]:
#tuple : fixed size , immutable : it can not  be change or modified
t=(10,20)

In [5]:
t[1]=100
print(t)

TypeError: 'tuple' object does not support item assignment

In [6]:
a=10,20,30
print(a)  # packing

(10, 20, 30)

In [10]:
x,y,z=a  #unpacking
print(x)
print(y)
print(z)

10
20
30

In [13]:
l = [10,20,30,10,10,40,50,10]
e=int(input('enter element to find occurance'))
occ =l.count(e)
if occ!=0:
  print("Element found in list",occ,'times')
else:
  print('element not found')

enter element to find occurance100
element not found

In [14]:
#find an element in list without using count or inbuilt fucntions and show the position of given element if found

In [24]:
l = [10,20,30,10,10,40,50,10]  #lineat search
e=int(input('enter element to find occurance'))
count=0
position=[]
#for var in iterator :
# range(start=0,end,step=1)  end will excluded
for index in range(0,len(l)):
  #print(f'value at index {index} ={l[index]}')
  if l[index]==e:
    # count =count+1
    count+=1
    position.append(index)

if count!=0:
  print (f'{e} found in list .No of occurance {count} .Postions = {position}')
else:
  print(f'{e} is not found in list')

enter element to find occurance100
100 is not found in list

In [27]:

l = [10,20,30,10,10,40,50,10]  #lineat search
e=int(input('enter element to find occurance'))
count=0
pos=0
position=[]
#for var in iterator :
# range(start=0,end,step=1)  end will excluded
for element in l:
  #print(f'value at index {index} ={l[index]}')
  if element==e:
    # count =count+1
    count+=1
    position.append(pos)
  pos+=1

if count!=0:
  print (f'{e} found in list .No of occurance {count} .Postions = {position}')
else:
  print(f'{e} is not found in list')

enter element to find occurance100
100 is not found in list

In [30]:
#remove  all the occurance of given element from a list
l = [10,20,30,10,10,40,50,10]
e=int(input('enter element to remove from list'))
while e in l:
  l.remove(e)

print(l)

enter element to remove from list10
[20, 30, 40, 50]

In [34]:
l = [10,20,30,10,10,40,50,10]
l1=l.copy()
e=int(input('enter element to remove from list'))

for index in range(len(l)):
  if l[index]==e:
    l1.remove(e)
print(l1)

enter element to remove from list10
[20, 30, 40, 50]

In [35]:
# write program to print factorial of a number
n=int(input('enter no'))
fact =1

for i in range(1,n+1):  #3  1,2,3
  fact *=i

print(f'{n} != {fact}')

enter no5
5 != 120

In [37]:
# write program to print factorial of a number using recurssion

def factorial(n):
  #base code
  if n==0 or n==1:
    return 1
  else :    #  3 *2 *1  = 3 * 2! = 2! = 2 * 1! =1
     # recursive code
     return n* factorial(n-1)  # 3 * factorial(2)    2 *factorial(1)= 2*1=2

n = int(input('enter the number'))
print(f'factorail of {n} = {factorial(n)}')

enter the number6
factorail of 6 = 720

In [38]:
import math
n = int(input('enter the number'))
print(math.factorial(n))

enter the number5
120

In [39]:
def show(n):
  if n<10:
    print(n)
    n=n+1
    show(n)

show(1)

1
2
3
4
5
6
7
8
9

In [45]:
# check a number is a prime number or not
# Number divisible by 1 or itself like 3, 7 , 13 etc

n=int(input('enter no to check it is prime or not'))
flag=0
for i in range(2,n):
  if n%i==0:
    flag=1
    break

if flag==1:
  print(f'{n} is not a prime no')
else:
  print(f'{n} is a prime no')

enter no to check it is prime or not39
39 is not a prime no

In [48]:
n=int(input('enter no to check it is prime or not'))
flag=0
for i in range(2,(n//2)+1):
  if n%i==0:
    flag=1
    break

if flag==1:
  print(f'{n} is not a prime no')
else:
  print(f'{n} is a prime no')

enter no to check it is prime or not39
39 is not a prime no

In [58]:
def checkPrime(n,i):
  if n%i==0:
    return 1
  else:
    checkPrime(n,i+1)

n=int(input('enter no'))
res = checkPrime(n,3)
if res ==1:
  print('not prime')
else:
  print('prime')

enter no21
not prime

In [62]:
d={'iocl':150,'hdfc':1200}  # key:value , key are unique ,keys immutable, dictionary is order or unorder
#before python 3.6 dictionary was unorder
d1={} #empty dictionary
print(type(d1))
print(d)

<class 'dict'>
{'iocl': 150, 'hdfc': 1200}

In [64]:
d['sbi']=800
print(d)

{'iocl': 150, 'hdfc': 1200, 'sbi': 800}

In [66]:
print(d.keys())
print(d.values())
print(d.items())

dict_keys(['iocl', 'hdfc', 'sbi'])
dict_values([150, 1200, 800])
dict_items([('iocl', 150), ('hdfc', 1200), ('sbi', 800)])

In [67]:
for key in d.keys():
  print(key)

iocl
hdfc
sbi

In [68]:
print('total money invested',sum(d.values()))

total money invested 2150

In [69]:
print(d.pop('sbi'))
print(d)

800
{'iocl': 150, 'hdfc': 1200}

In [70]:
print(d.popitem())

('hdfc', 1200)

In [71]:
print(d)

{'iocl': 150}

In [72]:
d['iocl']=300
print(d)

{'iocl': 300}

In [73]:
d2={'gmr':50,'bhel':250}
d.update(d2) # values of d2 will merged in d1
print(d)

{'iocl': 300, 'gmr': 50, 'bhel': 250}